
body	{
	background-color: #1E90FF;
	font-family: "Roboto", serif, sans-serif
}

body * {
	box-sizing: border-box;
}

.logo {
	display: block;
	height: 35px;
	width: auto;
	margin-top: 35px;
	margin-bottom: 35px;
	margin-left: auto;
	margin-right: auto;
}

fieldset {
	margin-left: auto;
	margin-right: auto;
	width: 400px;
	padding: 40px;
	background-color: #FFFFFF;
	border: none;
	position: relative;
	border-radius: 3px;
	
}

.form-title {
	position: absolute;
	text-align: center;
	top: 40px;
	left: 0;
	right: 0;
	font-size: 35px;
}

label {
	display: block;
	font-size: 18px;
}

.email{
	margin-top: 80px;
}

.pw, input, .button {
	margin-top: 20px;
}

input, .button {
	width: 320px;
	height: 55px;
	padding: 15px;
	border-radius: 3px;
}

input {
	background-color: #fcfcfc;
	color: #999;
	border: 2px solid #e7e7e7;
}

.button {
	display: block;
	border: 2px;
	color: white;
	cursor: pointer;
	background-color: #15CD72;
}

.pw-reset {
	display: block;
	text-align: center;
	margin-top: 10px;
	color: #999;
}

.login {
	text-align: center;
	margin-top: 15px;
	font-weight: bold;
	color: white;
}

.login a {
	color: white;
}






